<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303691086090-fcefmfh3bifga10t5q44eqnt47k9co72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303691086090-fcefmfh3bifga10t5q44eqnt47k9co72</string>
	<key>API_KEY</key>
	<string>AIzaSyCXsXoaeoIMVpbsqIJMBqOK85koOj2UdkA</string>
	<key>GCM_SENDER_ID</key>
	<string>303691086090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sports</string>
	<key>PROJECT_ID</key>
	<string>socialapp-d1e32</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-d1e32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303691086090:ios:04cf82f5cc80df1038e2f3</string>
</dict>
</plist>